<%- include('../partials/head.ejs') %>
<body id="main__body">
  <!-- Main Header  start-->
  <%- include('../partials/header.ejs') %>
  <!-- Main Header end -->
  <main class="main__main">
    <div class="<%=classGroup%>__divider"></div>
    <div class="<%=classGroup%>__container">
      <!-- Main Profile Card -->
      <div class="<%=classGroup%>__profile_card">
        <img
          class="profile_card__img"
          src="img/profile-img.png"
          alt="Prfile Image"
          srcset=""
          height="200"
          width="200"
        />
        <div class="profile_card__body">
          <h1 class="profile_card__name">Ihugba Kizito</h1>
          <h3 class="profile_card__stack">Backend Developer</h3>
        </div>
      </div>
    </div>
    <!-- Main Profile Card end -->
    <div class="<%=classGroup%>__profile-footer">
      <!-- Social Icons  start-->
       <div class="<%=classGroup%>__profile-footer_social">
        <ul>
          <li>
            <i class="fab fa-facebook"></i>
            <span
              ><a
                href="https://facebook.com/ihugba"
                target="_blank"
                rel="no_follow"
                class="social__link"
              >
                Facebook</a
              ></span
            >
          </li>
          <li>
            <i class="fab fa-linkedin"></i>
            <span>
              <a
                href="https://linkedin.com/in/kizito-ihugba-365891128"
                target="_blank"
                rel="no_follow"
                class="social__link"
              >
                LinkedIn</a
              ></span
            >
          </li>
          <li>
            <i class="fab fa-github"></i>
            <span
              ><a
                href="https://github.com/kizito25"
                target="_blank"
                rel="no_follow"
                class="social__link"
              >
                GitHub</a
              >
            </span>
          </li>
          <li>
            <i class="fab fa-twitter"></i>
            <span>
              <a
                href="https://twitter.com/ihugba"
                target="_blank"
                rel="no_follow"
                class="social__link"
              >
                Twitter</a
              >
            </span>
          </li>
        </ul>
      </div>
      <!-- Social Icons end -->
      <!-- Contact Icon start -->
      <div
        id="main__profile_contact"
        class="main_profile_contact"
      >
        <%- include('../layouts/messenger.ejs') %> 
    </div>
  </main>
  <%- include('../partials/tail.ejs') %>
</body>
