<%- include('../partials/head.ejs') %>
<body id="project__body ">
  <!-- Main Header  start-->
  <%- include('../partials/header.ejs') %>
  <!-- Main Header end -->
  <main class="project__main">
    <div class="<%=classGroup%>__divider"></div>
    <div class="<%=classGroup%>__container">
      <!-- Main Profile Card -->
      <div class="<%=classGroup%>__profile_card">
        <img
          class="<%=classGroup%>__profile_card__img"
          src="img/profile-img.png"
          alt="Profile Image"
          srcset=""
          height="200"
          width="200"
        />
        <div class="<%=classGroup%>__profile_card__body">
          <h1 class="<%=classGroup%>__profile_card__name">Ihugba Kizito</h1>
          <h3 class="<%=classGroup%>__profile_card__stack">
            Backend Developer
          </h3>
        </div>
      </div>
      <div class="<%=classGroup%>__card">

        <!-- Starting dynamic rendering of projects -->
      <% projects.forEach(project => { %>
       
        <% if (project.length < 1) { %>
          <p>No Proects yet!</p>
        <% } else { %>
          <div class="<%=classGroup%>__card_items <%=classGroup%>__item-1">
           <img
            src="<%=project.coverImage%>"
            data-src="<%=project.coverImage%> "
            class="lozad"
            width="260"
            height="300"
            alt=""
            srcset=""
            loading="lazy"
          />
          <div class="<%=classGroup%>__details">
            <h2 class="<%=classGroup%>__title"><%= project.title %></h2>
            <p class="<%=classGroup%>__description"><%= project.description %> </p>
            <p class="<%=classGroup%>__authors">Authors: <%= project.authors %> </p>
            <p class="<%=classGroup%>__tech project__tags"><%project.tags.forEach(tag => { %>
                <span class="project__tags-item <%= tag %>"> <%= tag %> </span>
            <% }) %>
         </p>
          </div>
        </div>
         <% } %>

      <% }) %>


        <!-- <div class="<%=classGroup%>__card_items <%=classGroup%>__item-1">
          <img
            src="img/profile-img-lowly.png"
            data-src="img/profile-img.png"
            class="lozad"
            width="260"
            height="300"
            alt=""
            srcset=""
            loading="lazy"
          />
          <div class="<%=classGroup%>__details">
            <h2 class="<%=classGroup%>__title">Project One</h2>
            <p class="<%=classGroup%>__description">Description...</p>
            <p class="<%=classGroup%>__authors">Authors</p>
            <p class="<%=classGroup%>__tech">Tech</p>
          </div>
        </div>
        <div class="<%=classGroup%>__card_items <%=classGroup%>__item-2">
          <img
            src="img/profile-img-lowly.png"
            data-src="img/profile-img.png"
            class="lozad"
            width="260"
            height="300"
            alt=""
            srcset=""
            loading="lazy"
          />
          <div class="project__details">
            <h2 class="project__title">Project One</h2>
            <p class="project__description">Description...</p>
            <p class="project__authors">Authors</p>
            <p class="project__tech">Tech</p>
          </div>
        </div>
        <div class="<%=classGroup%>__card_items <%=classGroup%>__item-3">
          <img
            src="img/profile-img-lowly.png"
            data-src="img/profile-img.png"
            class="lozad"
            width="260"
            height="300"
            alt=""
            srcset=""
            loading="lazy"
          />
          <div class="project__details">
            <h2 class="project__title">Project One</h2>
            <p class="project__description">Description...</p>
            <p class="project__authors">Authors</p>
            <p class="project__tech">Tech</p>
          </div>
        </div>
        <div class="<%=classGroup%>__card_items <%=classGroup%>__item-4">
          <img
            src="img/profile-img-lowly.png"
            data-src="img/profile-img.png"
            class="lozad"
            width="260"
            height="300"
            alt=""
            srcset=""
            loading="lazy"
          />
          <div class="project__details">
            <h2 class="project__title">Project One</h2>
            <p class="project__description">Description...</p>
            <p class="project__authors">Authors</p>
            <p class="project__tech">Tech</p>
          </div>
        </div>
        <div class="<%=classGroup%>__card_items <%=classGroup%>__item-5">
          <img
            src="img/profile-img-lowly.png"
            data-src="img/profile-img.png"
            class="lozad"
            width="260"
            height="300"
            alt=""
            srcset=""
            loading="lazy"
          />
          <div class="project__details">
            <h2 class="project__title">Project One</h2>
            <p class="project__description">Description...</p>
            <p class="project__authors">Authors</p>
            <p class="project__tech">Tech</p>
          </div>
        </div>
        <div class="<%=classGroup%>__card_items <%=classGroup%>__item-6">
          <img
            src="img/profile-img-lowly.png"
            data-src="img/profile-img.png"
            class="lozad"
            width="260"
            height="300"
            alt=""
            srcset=""
            loading="lazy"
          />
          <div class="project__details">
            <h2 class="project__title">Project One</h2>
            <p class="project__description">Description...</p>
            <p class="project__authors">Authors</p>
            <p class="project__tech">Tech</p>
          </div>
        </div>
        <div class="<%=classGroup%>__card_items <%=classGroup%>__item-7">
          <img
            src="img/profile-img-lowly.png"
            data-src="img/profile-img.png"
            class="lozad"
            width="260"
            height="300"
            alt=""
            srcset=""
            loading="lazy"
          />
          <div class="project__details">
            <h2 class="project__title">Project One</h2>
            <p class="project__description">Description...</p>
            <p class="project__authors">Authors</p>
            <p class="project__tech">Tech</p>
          </div>
        </div>
        <div class="<%=classGroup%>__card_items <%=classGroup%>__item-8">
          <img
            src="img/profile-img-lowly.png"
            data-src="img/profile-img.png"
            class="lozad"
            width="260"
            height="300"
            alt=""
            srcset=""
            loading="lazy"
          />
          <div class="project__details">
            <h2 class="project__title">Project One</h2>
            <p class="project__description">Description...</p>
            <p class="project__authors">Authors</p>
            <p class="project__tech">Tech</p>
          </div>
        </div>
      </div> -->
    </div>
    <!-- Main Profile Card end -->
    <div class="<%=classGroup%>__profile-footer">
      <!-- Social Icons  start-->
      <div class="<%=classGroup%>__profile-footer_social">
        <ul>
          <li>
            <i class="fab fa-facebook"></i>
            <span
              ><a
                href="https://facebook.com/ihugba"
                target="_blank"
                rel="no_follow"
                class="social__link"
              >
                Facebook</a
              ></span
            >
          </li>
          <li>
            <i class="fab fa-linkedin"></i>
            <span>
              <a
                href="https://linkedin.com/in/kizito-ihugba-365891128"
                target="_blank"
                rel="no_follow"
                class="social__link"
              >
                LinkedIn</a
              ></span
            >
          </li>
          <li>
            <i class="fab fa-github"></i>
            <span
              ><a
                href="https://github.com/kizito25"
                target="_blank"
                rel="no_follow"
                class="social__link"
              >
                GitHub</a
              >
            </span>
          </li>
          <li>
            <i class="fab fa-twitter"></i>
            <span>
              <a
                href="https://twitter.com/ihugba"
                target="_blank"
                rel="no_follow"
                class="social__link"
              >
                Twitter</a
              >
            </span>
          </li>
        </ul>
      </div>
      <!-- Social Icons end -->
      <!-- Contact Icon start -->
      <div id="main__profile_contact" class="main_profile_contact">
        <%- include('../layouts/messenger.ejs') %>
      </div>
    </div>
  </main>
</body>

<%- include('../partials/tail.ejs') %>
